body {
  margin: 0;
  nav {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    background: #4c4c4c;
    a {
      text-decoration: none;
      font-size: 2.5vw;
      color: white;
      margin: 0 1vw;
      padding: 2.5vw 0.5vw;
      &:hover {
        background: darken(#4c4c4c, 5%);
      }
    }
  }

  main {
    height: 35vw;
    background: {
      repeat: no-repeat;
      size: 100% 100%;
      image: url(../planesky.jpg);
    }
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      color: white;
      font-weight: bold;
      font-size: 6vw;

    }
  }

  section {
    height: 40vw;
    background: {
      repeat: no-repeat;
      size: 100% 100%;
      image: url(../hamburg.jpg);
    }
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    h2 {
      font-size: 4vw;
      color: white;
    }
    p {
      font-size: 1.7vw;
      font-family: tahoma;
      width: 90%;
      color: white;
      background: rgba(0, 0, 0, 0.7);
    }

    form {
      display: grid;
    }
  }
}
